.header{
    background:#000;
    border: 5px solid blue;
}
.header__inner{
    margin:0 auto;
    padding: 20px 15px;
    max-width: 500px;
    border: 5px solid blueviolet;
}
.header__logo{
    color:#fff;
    text-decoration :none;
    font-weight : bold;
    font-size: 24px;
    border: 5px solid burlywood;
}