.result-cards{
    display:flex;
}
.result-card{

    width: 100px;
    height: 100%;
    border-radius: 3px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
    position: relative;
        padding-top: 56.25%;
    }